@model Dotnet8CRUD.Models.User;
@{
    Layout = "";
}

<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Register Form</title>
      <link rel="stylesheet" href="~/css/auth.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="content">
         <div class="text">
            Register Form
         </div>
         <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
               <input asp-for="Username" type="text" required>
               <span class="fas fa-user"></span>
               <label asp-for="Username">Username</label>
            </div>
            <div class="field">
               <input asp-for="Password" type="password" required>
               <span class="fas fa-lock"></span>
               <label asp-for="Password">Password</label>
            </div>
            <button type="submit" value="Register">Sign Up</button>
            <div class="sign-up">
               Already register?
               <a asp-controller="Auth" asp-action="Login">Sign In</a>
               <a asp-controller="Home" asp-action="Index">Dashboard</a>
            </div>
         </form>
      </div>
   </body>
</html>