﻿/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
} */

/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #00008b; /* DarkBlue color for navbar brand */
}

a {
  color: #00008b; /* DarkBlue color for links */
}

.btn-primary {
  color: #fff;
  background: linear-gradient(to right, #000000, #00008b, #87ceeb); /* Gradient from Black to DarkBlue to LightBlue for primary buttons */
  border-color: #00008b; /* DarkBlue color for primary button borders */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background: linear-gradient(to right, #000000, #00008b, #87ceeb); /* Gradient from Black to DarkBlue to LightBlue for active nav links */
  border-color: #00008b; /* DarkBlue color for active nav link borders */
}

.border-top {
  border-top: 2px solid #00008b; /* DarkBlue color for top border */
}
.border-bottom {
  border-bottom: 2px solid #00008b; /* DarkBlue color for bottom border */
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 139, .5); /* DarkBlue color for box shadow */
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
  color: #fff;
  background: linear-gradient(to right, #000000, #00008b, #87ceeb); /* Gradient from Black to DarkBlue to LightBlue for accept policy button */
  border-color: #00008b; /* DarkBlue color for accept policy button borders */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background: linear-gradient(to right, #000000, #00008b, #87ceeb); /* Gradient from Black to DarkBlue to LightBlue for footer */
  color: #fff; /* White color for footer text */
}