﻿@{
    ViewData["Title"] = "Home Page";
    // get cookie value

}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hi, @User.Claims.First().Value!</h1>
    }
    else
    {
        <h1>Hi, Guest!</h1>
    }
    <p>Let's track our favorite film!</p>
</div>
