@model Dotnet8CRUD.Models.Film;

@{
    ViewData["Title"] = "Post Film";
}

<style>
    body {
        background-color: #f0f8ff; /* Light blue background */
    }

    .form-group {
        margin-bottom: 20px; /* Add space between form groups */
    }

    .form-control {
        border: 2px solid #1e90ff; /* Blue borders for input fields */
    }

    .btn-primary {
        background-color: #1e90ff; /* Blue button */
        border-color: #1e90ff;
    }

    h4, a {
        color: #1e90ff; /* Blue text for headers and links */
    }
</style>

<h4>Create: FILM</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Title" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" id="Title" type="text" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Director" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Director" class="form-control" id="Director" type="text" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Year" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Year" class="form-control" id="Year" type="text" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="GenreId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="GenreId" class="form-control" id="GenreId" type="text" />
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
