@model Dotnet8CRUD.Models.Film

@{
    ViewData["Title"] = "Details Film";
}

<style>
    .detail-film th {
        background-color: #17A2B8; /* Teal color */
        color: white; /* White text */
    }

    .detail-film td {
        background-color: #E8F8F5; /* Light teal color */
    }

    .detail-film tr:nth-child(even) {
        background-color: #D1F2EB; /* Even lighter teal color */
    }

    .detail-film tr:hover {
        background-color: #A3E4D7; /* Slightly darker teal color on hover */
        font-weight: bold;
    }
</style>

<div class="col-md-8">
    <h4>Details: @Model.Title</h4>
    <hr />
    <table class="Table">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>Title</th><td>@Model.Title</td></tr>
    <tr><th>Director</th><td>@Model.Director</td></tr>
    <tr><th>Year</th><td>@Model.Year</td></tr>
    <tr><th>Genre</th><td>@Model.Genre.Name</td></tr>
    <tr><th>Created At</th><td>@Model.CreatedAt</td></tr>
    <tr><th>Updated At</th><td>@Model.UpdatedAt</td></tr>
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
