@model IEnumerable<Dotnet8CRUD.Models.Film>

@{
    ViewData["Title"] = "All Films";
}

<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<style>
    body {
        background-color: #f0f8ff; /* Light blue background */
    }

    h1 {
        background-color: #1e90ff; /* Blue header */
        color: white;
    }

    .btn {
        border-color: #1e90ff; /* Blue borders for buttons */
    }

    .btn-outline-danger {
        color: #1e90ff; /* Blue text for danger buttons */
        border-color: #1e90ff; /* Blue borders for danger buttons */
    }

    .btn-outline-success {
        color: #1e90ff; /* Blue text for success buttons */
        border-color: #1e90ff; /* Blue borders for success buttons */
    }

    .btn-outline-info {
        color: #1e90ff; /* Blue text for info buttons */
        border-color: #1e90ff; /* Blue borders for info buttons */
    }

    table {
        border-color: #1e90ff; /* Blue borders for table */
    }

    th {
        background-color: #1e90ff; /* Blue header cells */
        color: white;
    }
</style>
@* style="background-color: rgb(138, 209, 153); color: white;" *@
<h1>List Movie</h1>
<hr />
<p>
    <a class="btn btn-sm btn btn-outline-danger" asp-controller="Film" asp-action="Create">Add New</a>
</p>
<table id="tblCategories" class="Table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" asp-controller="Film" asp-action="Edit" asp-route-id="@item.Id">Edit <i class="bi bi-pencil-square"></i></a> |
                    <a class="btn btn-sm btn-outline-info" asp-controller="Film" asp-action="Details" asp-route-id="@item.Id">Details <i class="bi bi-arrow-up-right-square-fill"></i></a> |
                    <a class="btn btn-sm btn-outline-danger" onclick="DeleteCategories('@item.Id')">Delete <i class="bi bi-archive-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>


<script>
    var DeleteCategories = function (id) {
        Swal.fire({
            title: 'Do you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "DELETE",
                    url: "/Film/Delete?id=" + id,
                    success: function (result) {
                        console.log(result);
                        var message = "Film has been deleted successfully. Film ID: " + result.id;
                        Swal.fire({
                            title: message,
                            icon: 'info',
                            onAfterClose: () => {
                                location.reload();
                            }
                        });
                    }
                });
            }
        });
    };
</script>