html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Blue Green */
.Table-v1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #301936;
}

  .Table-v1 td,
  .Table-v1 th {
      border: 1px solid #301936;
      /*padding: 1px;*/
      line-height: 20px;
      padding-left: 5px;
  }

  .Table-v1 th {
      border: 1px solid #271130;
      padding-top: 1px;
      padding-bottom: 1px;
      text-align: left;
      background-color: #6f4490;
      color: white;
      line-height: 30px;
      padding-left: 5px;
  }

  .Table-v1 tr:nth-child(even) {
      background-color: #fff;
  }

  .Table-v1 tr:hover {
      background-color: #a698e6;
      color: white;
  }

  .Table-v1 td,
  .Table-v1 th {
      font-size: 16px;
  }

  .Table-v1 a:hover {
      color: #fff;
  }

  .Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #1e90ff; /* Blue border */
  }
  
  .Table td,
  .Table th {
    border: 1px solid #1e90ff; /* Blue borders */
    padding: 8px; /* Increase padding for better readability */
    font-size: 18px; /* Increase font size for better readability */
  }
  
  .Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1e90ff; /* Blue header cells */
    color: white;
  }
  
  .Table tr:nth-child(even) {
    background-color: #f0f8ff; /* Light blue for even rows */
  }
  
  .Table tr:hover {
    background-color: #87cefa; /* Different shade of blue for hover */
    color: white;
  }
  
